.vercel

node_modules/
npm-debug.log
.env

firebase-key.json
firebase-debug.log
firestore-debug.log
public/frontend/js/services/firebase-config.js

public/uploads/*
!public/uploads/.gitkeep
public/frontend/assets/

logs/
*.log
.vscode/

