<div class="post-card">
  <div class="post-card__image">
    <img src="../assets/images/placeholder.jpg" alt="Post Image">
  </div>
  <div class="post-card__content">
    <h3 class="post-card__title">Post Title</h3>
    <p class="post-card__excerpt">This is a short excerpt from the post content...</p>
    <div class="post-card__meta">
      <div class="post-card__author">
        <img src="../assets/images/default-avatar.png" alt="Author Avatar">
        <span>Author Name</span>
      </div>
      <div class="post-card__date">June 15, 2023</div>
    </div>
    <div class="post-card__stats">
      <div class="post-card__likes">
        <i class="fas fa-heart"></i>
        <span>42</span>
      </div>
      <div class="post-card__comments">
        <i class="fas fa-comment"></i>
        <span>12</span>
      </div>
    </div>
  </div>
</div>
